{% extends 'base_generic.html' %}

{% block content %}
<h1>訂單查詢</h1>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">查詢</button>
  </form>

  <br><br>

  <table class="col-md-12 score" style="text-align:center">
	<thead>
		<tr>
			<th>訂單ID</th>
			<th>廠商</th>
		</tr>
	</thead>
	<tbody>
  	{% for user in filter.qs %}
	<tr>
		<td><a href="/onlineOrderSystem/orderform_search/{{user.id}}">{{ user.IDName }}</td>
		<td>{{ user.firmName }}</td>
	</tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
