{% extends "base_generic.html" %}

{% block content %}
  <h1>訂單: {{ orderform_detail.IDName }}</h1>

  <p><strong>訂單ID:</strong> {{ orderform_detail.id }}</p>
  <p><strong>廠商名字:</strong> {{ orderform_detail.firmName}}</p>
  <p><strong>收單日期:</strong> {{ orderform_detail.dateReceived }}</p>
  <p><strong>期限:</strong> {{ orderform_detail.deadLine }}</p>
  <p><strong>是否已收費:</strong> {{ orderform_detail.hasReceivedCash }}</p>
  <p><strong>是否已出貨:</strong> {{ orderform_detail.hasShipped }}</p>
  <p><strong>規格單ID:</strong> {{ orderform_detail.dataSheetID }}</p>

{% endblock %}

