<style>

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 20%;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	color: white;
	font-size:1.2em;
    background: #006666;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {  
	margin-left: 20px;
    width: 100%;
    position: absolute;
    padding: 15px;
	font-size:1em;
}



/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }
   
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    } 
}
/* Button Styles */
button {
    background-color: #647cf2;
    border: none;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    width:100%;
  }

button:hover {
    background-color: RoyalBlue;
  }

/* Form Styles */
input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* List Styles */
ul {
	list-style-type: disc;
	list-style-position:outside;
}

/* Table Styles */
table{
	width:100%;
    cursor: pointer;
	border: 1px solid ;
	text-align: center;
}

table tbody tr {
	
	border: 1px solid ;
	background-color:#EBF5FB;
}

table thead tr {
	border: 1px solid ;
	background-color:#48C9B0;
}

tr:nth-child(even){
	background-color:#E8F8F5;
}

th, td {
  text-align: center;
}
</style>
